/* Estilos padrão */
body {
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  width: 60vh;
  height: 40vh;
  margin: 2vh;
  padding-top: 2vh;
  border-radius: 10px;
  border: 4px solid #ccc;
}

div {
  display: flex;
  flex-direction: column;
  margin: 1.5em 4em;
}

/* Estilos responsivos para telas menores que 640px */
@media only screen and (max-width: 640px) {
  fieldset {
    width: 80vw; /* Define a largura como 80% da largura da viewport */
    height: auto; /* Altura automática para acomodar o conteúdo */
    margin: 2vh 2vw; /* Ajusta a margem para se adequar melhor em telas menores */
    padding: 2vh 2vw; /* Ajusta o preenchimento para se adequar melhor em telas menores */
  }

  div {
    margin: 1em 2vw; /* Ajusta a margem para se adequar melhor em telas menores */
  }
}
